{% extends "Index.html" %}
{% block title %} Home {% endblock %}
{% block body %}
    <section class="u-clearfix u-grey-10 u-section-1" id="sec-cf02">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-contain u-image-round u-radius u-image-1" src="static/images/ad10bbaddfeb5a38891aa4b46924a7a34fc51dd6.png" alt="" data-image-width="1102" data-image-height="704">
        <h4 class="u-text u-text-default u-text-1">Temperature :&nbsp;</h4>
        <h4 class="u-text u-text-default u-text-2">0 C</h4>
        <div class="u-list u-list-1">
          <div class="u-align-center u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <a href="https://nicepage.com/website-design" class="u-btn u-button-style u-custom-item u-palette-1-base u-btn-1">Control Temperature</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <a href="https://nicepage.com/website-design" class="u-btn u-button-style u-custom-item u-palette-1-base u-btn-2">Control pH</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <a href="https://nicepage.com/website-design" class="u-btn u-button-style u-custom-item u-palette-1-base u-btn-3">Feed Fish </a>
              </div>
            </div>
          </div>
        </div>
        <img class="u-image u-image-contain u-image-default u-image-2" src="static/images/495123_1_En_92_Fig3_HTML.png" alt="" data-image-width="685" data-image-height="351">
        <h4 class="u-text u-text-default u-text-3">0</h4>
        <h4 class="u-text u-text-default u-text-4">pH :&nbsp;</h4>
        <img class="u-image u-image-default u-preserve-proportions u-image-3" src="static/images/fish-bowl-fish.gif" alt="" data-image-width="220" data-image-height="220">
        <h4 class="u-text u-text-default u-text-5">Click to feed fish now&nbsp;</h4>
      </div>
    </section>




{% endblock %}